.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 280px;
    
   
   
    margin: auto;
    text-align: center;
    
  }
  .card-link, .removelnk{
  
   
    color:#fff;
    margin: 5px;
   
    text-decoration:none
    
}
.card-btn{
    display: inline-block;
    padding: 20px;
    border: none;
}
.price {
    color: grey;
    font-size: 22px;
  }
  .removelnk{

    
    color:#606c38;
    
  }
  .inSt{
    color: #52b788;
    padding: 10px;
  }
  .outSt{
    color: #d90429;
  }
  .updateCart{
    margin-bottom: 20px;
  }
  